[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-githubapp = "*"
"github3.py" = "*"
kubernetes = "*"
requests = "*"
srcopsmetrics = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
